
@{
    ViewData["Title"] = "UserList";
}
@model List<UserViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Rolleri</th>

            <th scope="col">Role Ata</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <user-role-names user-id="@item.Id"></user-role-names>
                </td>
                <td>
                    <a asp-controller="Roles" asp-action="AssignRoleToUser" asp-route-id="@item.Id">Role Ata</a> |
                </td>
            </tr>
        }     
     
    </tbody>
</table>
